* {
	margin: 0;
}
html, body {
	height: 100%;
}

body {
	font-family: 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	color: dimgray;
}
h1, h2, h3, h4, h5, h6 {
	color: black;
}
a:link {
	font-family: 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	color: black;
	text-decoration: none;
	}      /* unvisited link */
a:visited {
	font-family: 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	color: darkgray;
	}  /* visited link */
a:hover {
	color: brown;
	}  /* mouse over link */

img.logo {
	display: block;
    margin-left: auto;
    margin-right: auto;
}

div.content {
	padding-top: 15px;
}
/*sticky footer*/
.wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin: 0 auto -30px;
}
div.foot, .push{
	height: 30px;
}
.foot p {
	font-size: small;
	color:lightgray;
}

/*img maxes*/
.grid_1 img { max-width:50px; }
.grid_2 img { max-width:130px; }
.grid_3 img { max-width:210px; }
.grid_4 img { max-width:290px; }
.grid_5 img { max-width:370px; }
.grid_6 img { max-width:460px; }
.grid_7 img { max-width:530px; }
.grid_8 img { max-width:610px; }
.grid_9 img { max-width:690px; }
.grid_10 img { max-width:770px; }
.grid_11 img { max-width:850px; }
.grid_12 img { max-width:920px; }
/*img max end*/

/*css menu*/
div.menu {
	display: block;
    margin-left: auto;
    margin-right: auto;
}
div.cssmenu{
	border:none;
	border:0px;
	margin:0px;
	padding:0px;
	font: 67.5% 'Lucida Sans Unicode', 'Bitstream Vera Sans', 'Trebuchet Unicode MS', 'Lucida Grande', Verdana, Helvetica, sans-serif;
	font-size:14px;
	font-weight:bold;
}
.cssmenu ul{
	background:#333333;
	height:35px;
	list-style:none;
	margin:0;
	padding:0;
}
.cssmenu li{
	float:left;
	padding:0px;
}
.cssmenu li a{
	background:#333333 url('../img/seperator.gif') bottom right no-repeat;
	color:#cccccc;
	display:block;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:center;
	text-decoration:none;
}

li.active a{
	display:block;
	height:35px;
	font-weight:normal;
	line-height:35px;
	margin:0px;
	padding:0px 25px;
	text-align:left;
	background: #2580a2;
}

.cssmenu li a:hover, .cssmenu ul li:hover a{
	background: #2580a2 url('../img/hover.gif') bottom center no-repeat;
	color:#FFFFFF;
	text-decoration:none;
}
.cssmenu li ul{
	background:#333333;
	display:none;
	height:auto;
	padding:0px;
	margin:0px;
	border:0px;
	position:absolute;
	width:225px;
	z-index:200;
	/*top:1em;
	/*left:0;*/
}
.cssmenu li:hover ul{
	display:block;
	
}
.cssmenu li li {
	background:url('../img/sub_sep.gif') bottom left no-repeat;
	display:block;
	float:none;
	margin:0px;
	padding:0px;
	width:225px;
}
.cssmenu li:hover li a{
	background:none;
	
}
.cssmenu li ul a{
	display:block;
	height:35px;
	font-size:12px;
	font-style:normal;
	margin:0px;
	padding:0px 10px 0px 15px;
	text-align:left;
}

.cssmenu li ul a:hover, .cssmenu li ul li:hover a{
	background:#2580a2 url('../img/hover_sub.gif') center left no-repeat;
	border:0px;
	color:#ffffff;
	text-decoration:none;
}
.cssmenu p{
	clear:left;
}	
/*end css menu*/